.subTitleContainer {
    display: flex;    
    justify-content: center;
    margin-top: 22px
}

.subTitleWrapper {
    font-size: 18px;
    text-transform: uppercase;    
    border: 1px solid #FFD900;
    max-width: 400px;
    border-radius: 10px;    
    padding: 13px 43px
}

.subTitle {
    text-align: center;   
    color: #FFD900;
}

.cardsContainer {
    display: flex;
    justify-content: center;
    margin-top: 33px;
}

.cardsWrapper {
    display: flex;
    justify-content: center;
    max-width: 850px;
    flex-wrap: wrap;
}

.card {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 120px;
    height: 120px;
    background-color: #000000;    
    border-radius: 10px;    
    margin: 0 7.5px 15px 7.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    user-select: none;
    cursor: pointer;    
}

.cardSelected {
    @extend .card;
    border: 5px solid #79C523;   
}

.cardName {
    color: #4D4D4D;
    font-size: 18px;
}
