.titleWrapper {
    font-size: 18px;
    text-transform: uppercase;
    color: #FFFFFF;    
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px
}
