.titleWrapper {
    font-size: 18px;
    text-transform: uppercase;
    color: #FFFFFF;    
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px
}

.rangeWrapper {
    padding-left: 33.33%;
    padding-right: 33.33%;
    margin-bottom: 30px
}

.cashInputWrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.cashInput {
    width: 508px;
    height: 80px;
    border: 1px solid #EAEDFA;
    background: linear-gradient(180deg, #FFFFFF 0%, #EAEDFA 100%);
    border-radius: 10px;
    font-family: Fredoka One;
    color: #4D4D4D;
    font-size: 48px;
    outline: none;
    text-align: center;
    padding: 0
}

.dropdownWrapper {
    width: 160px;
    height: 80px;
    background: linear-gradient(180deg, #FFFFFF 0%, #EAEDFA 100%);
    border: 1px solid #EAEDFA;
    border-radius: 10px;
    font-family: Fredoka One;
    font-size: 18px;
    color:#4D4D4D;
    text-transform: uppercase;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    user-select: none;
}

