.buttonWrapper {
    display: flex;
    justify-content: center;
}

.btnA {
    width: 400px;
    height: 90px;
    background: linear-gradient(#25A72E 0%, #79C523 100%);
    font-size: 30px;
    font-family: 'Fredoka One', cursive;
    color: #FFFFFF;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
}

.btnA:hover {
    background: linear-gradient(#1EC229 0%, #85E31A 100%);
}
