.buttonWrapper {
    display: flex;
    justify-content: center;
    margin-left: 35px;
    margin-right: 35px;
}

.btnA {
    width: 400px;
    height: 90px;
    background: linear-gradient(0deg, #25A72E -17.86%, #79C523 117.86%);
    font-size: 30px;
    font-family: 'Fredoka One', cursive;
    color: #FFFFFF;
    border: 0;
    border-radius: 10px;
    text-transform: capitalize;
    cursor: pointer;
}

.btnA:hover {
    background: linear-gradient(0deg, #1EC229 -17.86%, #85E31A 117.86%);
}
