.titleWrapper {
    font-size: 36px;
    text-transform: uppercase;
    color: #FFFFFF;    
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 22px
}

.titleMaxWidth700 {
    max-width: 700px;
}
