.answerButtonsContainer {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

.answerButtonsWrapper {
    display: flex;
    flex-direction: column;
}

.btnAnswerUnselected {
    width: 400px;
    height: 90px;
    font-family: 'Fredoka One', cursive;
    border-radius: 10px;
    background: linear-gradient(180deg, #C1C8F0 0%, #EAEDFA 100%);
    color: #4D4D4D;
    border: 1px solid #FFFFFF;
    text-transform: uppercase;
    font-size: 24px;
    margin-bottom: 15px;
    cursor: pointer;
}

.btnAnswerSelectedFalse {
    width: 400px;
    height: 90px;
    font-family: 'Fredoka One', cursive;
    border-radius: 10px;
    background-color: #FF6666;
    color: #4D4D4D;
    border: 1px solid #FF7E7E;
    text-transform: uppercase;
    font-size: 24px;
    margin-bottom: 15px;
    cursor: pointer;
}

.btnAnswerSelectedTrue {
    width: 400px;
    height: 90px;
    font-family: 'Fredoka One', cursive;
    border-radius: 10px;
    background: linear-gradient(180deg, #FFD900 0%, #FFBB00 100%);
    color: #4D4D4D;
    border: 1px solid #FFD900;
    text-transform: uppercase;
    font-size: 24px;
    margin-bottom: 15px;
    cursor: pointer;
}

.buttonNextWrapper {
    display: flex;
    justify-content: center;
    margin-top: 0
}

.btn {
    width: 400px;
    height: 90px;    
    font-size: 30px;
    border: 0;
    color: #FFFFFF;
    text-transform: capitalize;
    font-family: 'Fredoka One', cursive;
    border-radius: 10px;        
}

.btnNextActive {
    @extend .btn;
    background: linear-gradient(0deg, #25A72E -17.86%, #79C523 117.86%);    
    cursor: pointer;
}

.btnNextActive:hover {
    @extend .btn;
    background: linear-gradient(0deg, #1EC229 -17.86%, #85E31A 117.86%);
}

.btnNextUnactive {
    @extend .btn;
    background-color: #99CC99;
    cursor: no-drop
}
