@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

body {
  font-family: 'Fredoka One', cursive;
}

.container {
  background: url(./assets/images/app/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 46px;
  padding-bottom: 118px;
  min-height: 100vh;
}

.logo {
  display: flex;
  justify-content: center;
}
