.questionTabsContainer {
    display: flex;
    justify-content: center;
    margin-top: 21px;
    margin-left: 35px;
    margin-right: 35px;
}

.questionTabsWrapper {
    text-align: center;
}

.questionTabsText {
    font-size: 14px;
    color: #FFD900;
    text-transform: uppercase;      
}

.questionTabs {
    display: flex;
    margin-top: 11px;
}

.questionTab {
    width: 50px;
    height: 5px;
    background-color: #FFFFFF;
    opacity: 0.3;
    border-radius: 3px;
    margin: 0 3px
}
