.textContainer {
    display: flex;
    justify-content: center;
    margin: 15px 70px 50px 70px
}

.textWrapperSlideA {
    max-width: 480px;
    text-align: center;
}

.textWrapper {
    text-align: center;
}

.bottomTextA {
    font-size: 18px;    
    color: #C7EDED;
}
